@charset "utf-8";
$designWidth : 1180;
@function px( $px ){
  @return $px*320/$designWidth/20 + rem;
}

//@import "iconrem";
/*移动端*/
@media (max-width: 767px) {
  body {
    min-width: px(320);
  }
  .wrap {
    width: 100%;
    background-repeat: repeat-y !important;
  }
  .mod-nav {
    display: none;
  }
  .wap-nav{
    position: relative;
    width: 100%;
    display: block;
    height: px(898);
    background-color: #3f3a39;
  }
  .wap-nav .logo{
    width: px(664);
    display: block;
    margin: 0 auto 0;
    padding: px(293) 0 px(150) 0;
  }
  .wap-nav .logo img{
    width: px(664);
    height: auto;
  }
  .nav-btn,.nav-wrap .nav-hd h3{
    background: url("../images/nav-btn.png") no-repeat;
    width: px(144);
    height: px(90);
    display: block;
    margin: 0 auto;
    background-size: cover;
    color: #ffffff;
    font-size: px(41);
    font-family: "Myriad Pro";
    padding-left: px(110);
    line-height: px(106);
  }
  .nav-wrap{
    height: px(1920);
    background-color: #2e2e2e;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .nav-wrap .nav-hd{
   padding: px(30) 0;
    width: 100%;
    border-bottom: 2px solid #1c1e1e;
  }
  .nav-wrap .nav-hd h3{
    margin:0;
  }
  .nav-wrap .nav-bd li{
    border-bottom: 2px solid #1c1e1e;
    height: px(140);
    padding: 0 px(46);
  }
  .nav-wrap .nav-bd li a{
    display: block;
    line-height: px(140);
    position: relative;
  }
  .nav-wrap .nav-bd li a:active{
    text-decoration: none;
  }
  .nav-wrap .nav-bd li h3{
    font-size: px(42);
    color: #ffffff;
    font-weight: 100;
    font-family: "Myriad Pro";
  }
  .mod-banner {
    padding-top: 0;
    height: px(953);
    min-width: px(320);
  }
  .mod-banner .b-bg1, .mod-banner .b-bg2, .mod-banner .b-bg3 {
    width: 100%;
    height: 100%;
    background-size: cover !important;
  }
  .mod-banner .b-content {
    width: 100%;
    height: px(953);
    overflow: hidden;
  }
  .mod-banner .b-bg1 h2, .mod-banner .b-bg1 h3,.mod-banner .b-bg3 h2, .mod-banner .b-bg3 h3{
    font-size: px(75);
    padding-top: px(400);
  }
  .mod-banner .b-bg1 h3,.mod-banner .b-bg3 h3{
    line-height: px(110);
    padding: 0;
  }
  .mod-banner .b-bg1 .line {
    width: px(754);
    height: 2px;
  }
  .mod-banner .b-bg3 .line {
    width: px(1000);
    height: 2px;
  }
  .mod-banner .control {
    position: absolute;
    bottom: px(66);
    left: 50%;
    margin-left: px(-60);
  }
  .mod-banner .control li {
    width: px(24);
    height: px(10);
    margin-left: px(12);
  }
  .mod-banner .read-more {
    font-size: px(34);
    width: px(242);
    height: px(78);
    line-height: px(78);
    position: absolute;
    bottom: px(148);
    left: 50%;
    margin-left: px(-121);
  }
  .mod-banner .b-bg2 a {
    width: px(650);
    height: px(97);
    top: px(400);
    margin-left: px(-534);
  }
  .mod-banner .b-bg2 h2 {
    line-height: px(97);
    font-size: px(56);
  }
  .mod-box .title {
    width: px(291);
    height: px(72);
    line-height: px(72);
    font-size: px(36);
  }
  .m-about .wrap {
    padding-top: px(180);
    height: px(886);
  }
  .m-about .bd-txt {
    padding: 0 px(170);
    margin-top: px(130);
  }
  .m-about .bd-txt a {
    width: 96%;
    padding: px(40) px(20) px(30) px(20);
  }
  .m-about .bd-txt p {
    font-size: px(31);
    text-indent: px(60);
    line-height: px(58);
  }
  .m-connect .wrap {
    height: px(2800);
    padding-top: px(99);
  }
  .m-connect .bd li {
    width: 100%;
    padding: 0;
    margin-bottom: px(120);
  }
  .m-connect li:first-child:after, .m-connect li:nth-child(2):after {
    width: 0;
  }
  .m-connect .bd {
    margin-top: px(100);
  }
  .m-connect li .b-item img, .m-connect li .b-item {
    width: px(292);
    height: px(292);
  }
  .m-connect .b-txt h3 {
    font-size: px(48);
  }
  .m-connect .b-txt p {
    font-size: px(36);
    line-height: px(66);
  }
  .m-connect .b-txt {
    height: auto;
    max-height: px(360);
    width: px(672);
    margin: px(28) auto px(60) auto;
  }
  .m-connect li .read-more, .m-window .b-txt .read-more {
    font-size: px(41);
    width: px(284);
    height: px(94);
    line-height: px(94);
    display: block !important;
  }
  .m-window .wrap {
    height: px(2347);
    padding-top: px(108);
  }
  .m-window .w-title {
    display: block !important;
    position: absolute;
    top: px(-480);
  }
  .m-window .w-title h3 {
    float: left;
    width: px(550);
  }
  .m-window .w-title .ent {
    text-align: right;
    width: px(430);
  }
  .m-window .b-txt {
    position: relative;
  }
  .m-window .m-gov, .m-window .m-ent {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: px(40);
    height: auto;
  }
  .m-window .b-txt h3 {
    font-size: px(52);
    text-align: center;
  }
  .m-window .b-txt p {
    font-size: px(36);
    margin: px(30) auto 0 auto;
    width: px(582);
    line-height: px(64);
    height: auto;
    max-height: px(510);
    overflow: hidden;
  }
  .m-window .b-txt .read-more {
    color: #088ad3;
    text-align: center;
    margin: px(66) auto px(80) auto;
    border: 1px solid #088ad3;
  }
  .m-window .bd img {
    width: px(399);
    height: px(373);
  }
  .m-window .bd {
    margin-top: px(95);
  }
  .m-team .wrap {
    padding-top: px(107);
    height: px(1520);
  }
  .m-team .bd .figure {
    width: px(287);
    height: px(287);
  }
  .m-team .bd {
    margin-top: px(75);
    padding: 0 px(320);
  }
  .m-team .bd .info-txt {
    margin-top: px(76);
    font-size: px(36);
    line-height: px(60);
  }
  .m-team .bd .info-txt p {
    height: px(590);
    overflow: hidden;
  }
  .m-team .team-list {
    height: px(1120);
  }
  .m-team .bd .info-txt h3 {
    font-size: px(48);
    margin-top: px(60);
  }
  .m-team .control {
    margin: px(64) auto 0 auto;
    width: px(310);
  }
  .m-team .control li a {
    width: px(46);
    height: px(46);
    margin: 0 px(15);
    background-size: cover;
  }
  .m-case .wrap {
    height: auto;
    padding: px(98) 0 px(110) 0;
  }
  .m-case .bd {
    width: 100%;
    margin-top: px(114);
    overflow: hidden;
  }
  .m-case .bd ul {
    padding: 0 px(175);
  }
  .m-case .bd li {
    float: none;
    width: 100%;
    margin: 0 0 px(76) 0;
    height: auto;
  }
  .m-case .list-info {
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: px(1119);
    opacity: 1;
  }
  .m-case .bd li .case-list {
    position: relative;
    display: block;
    background-image: none;
    width: 100%;
    height: px(1119);
  }
  .m-case .list-info img {
    width: 100%;
    height: auto;
  }
  .m-case .lovoo .txt img {
    width: px(392);
    height: px(86);
    margin: px(72) auto;
  }
  .m-case .wf .txt img {
    height: px(122);
    margin: px(70) auto;
  }
  .m-case .ask .txt img {
    height: px(122);
    margin: px(70) auto;
  }
  .m-case .txt p {
    padding: 0 px(150);
    font-size: px(30);
    line-height: px(50);
  }
  .m-partner .wrap {
    height: px(690);
    padding-top: px(105);
  }
  .m-partner .bd li {
    width: 33.333%;
    margin: 0 0 px(40) 0;
    height: px(110);
  }
  .m-partner .bd li a {
    margin: 0 auto;
  }
  .m-partner .i-amaz {
    width: px(254);
    height: px(110);
  }
  .m-partner .i-baidu {
    width: px(260);
    height: px(86);
  }
  .m-partner li a.i-lovoo {
    width: px(290);
    height: px(64);
    margin-top: px(22);
  }
  .m-contact .wrap {
    height: px(455);
    padding-top: px(151);
  }
  .m-partner .bd{
    margin-top: px(83);
    padding: 0 px(100);
  }
  .m-partner .i-wf{
    width: px(88);
    height: px(88);
  }
  .m-partner .i-logo5{
    width: px(96);
    height: px(98);
  }
  .m-partner .i-logo6{
    width: px(98);
    height: px(102);
  }
  .m-partner .i-b{
    width: px(94);
    height: px(94);
  }
  .m-partner .ask{
    width:px(122);
    height: px(92);
  }
  .m-partner .i-logo9{
    width: px(96);
    height: px(98);
  }
  .m-contact .bd {
    margin-top: px(98);
    padding: 0 px(170);
  }
  .m-contact .bd p {
    font-size: px(30);
    line-height: px(50);
  }
  /*内页*/
  .inside-nav .nav-wrap{
    height: px(1512);
  }
  .ins-banner {
    padding-top: 0;
    width: 100%;
    min-width: 320px;
    height: px(614);
  }
  .banner-in {
    height: px(614);
    width: 100%;
  }
  .ins-banner h2{
    padding-top: px(250);
  }
  .ins-banner h2,.ins-banner h3{
    font-size: px(75);
    line-height: px(124);
    padding-left: px(96);
  }
  .ins-banner .line{
    width: px(1000);
    margin-left: px(96);
  }

  .m-wd{
    width: 100%;
    padding: px(100) 0 0 0;
    margin: 0;
  }
  .fl{
    display: block;
    float: none;
    padding: 0 px(80);
  }
  .fr{
    display: block;
    float: none;
    padding-bottom: 20px;
  }
  .m-wd .tit{
    font:100 px(76)/px(90) "Microsoft YaHei";
  }
  .m-wd .m-logo{
    display: block;
    margin: px(-26) auto 0 auto;
    width: px(790);
    height: auto;
  }
  .window-in{
    width: px(900);
    margin: px(45) auto px(70) auto;
  }
  .window-in .tit{
    font:px(60)/px(60);
    font-family: "Myriad Pro";
  }
  .window-in .tit:before{
    content: '';
    width: px(100);
    top: px(-20);
  }
  .window-in .txt{
    font:px(30)/px(60) "Microsoft YaHei";
    text-indent: px(70);
    margin-top: px(20);
  }



}
@media (max-width: 320px){
  .m-connect .b-txt{
    max-height: px(400);
  }
  .m-connect .wrap {
    height: px(2900);
  }
  .m-window .wrap {
    height: px(2410);
  }
}
//
//.nav-wrap .close{
//  @extend %spritesheet;
//  @include i_close;
//  position: absolute;
//  display: inline-block;
//  top:px(60);
//  right: px(42);
//}
//.nav-wrap .i-more{
//  @extend %spritesheet;
//  @include i_more;
//  position: absolute;
//  display: inline-block;
//  top:px(46);
//  right: 0;
//}

